*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
    background-color: rgb(92, 201, 243);
}

.search_box{
    width: fit-content;
    margin: auto;
}

.result_card{
    width: 180px;
    height: 220px;
    background-color: rgb(190, 240, 255);
}